//
//  Distribution.xcconfig
//  DoorGuard
//
//  Created by Олег Лейзер on 04/02/2019.
//  Copyright © 2019 Олег Лейзер. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "iOS.xcconfig"
#include "Pods/Target Support Files/Pods-DoorGuard/Pods-DoorGuard.distribution.xcconfig"
// Product
PRODUCT_BUNDLE_IDENTIFIER = kz.idev.doorguard
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
